body {
  background-color: #545559;
}
.grid-container{
  display: grid;
  gap: 5px 5px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 1fr;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 14px;
  background-color: #385170;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27272b;
}
.button-container {
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.position-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  width: 200px;
}
canvas {
  grid-column-start: 2;
  grid-column-end: 2;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  background-color: black;
}
