body {
  background-color: grey;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5pxpx;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.position-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  width: 200px;
}

canvas {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
}
