.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 10px;
    padding: 5px;
}
.card{
    border: 3px black solid;
    border-radius: 20px;
    background-color: #385170;
}
.card-name{
    color: white;
    font-style:italic;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 1.25em;
}
.card-content{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button-grid{
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1fr;
}
.get-quotes{
    align-items: center;
    background-color: #142d4c;
    height: 40px;
    color: white;
    size: 2em;
}